/* --- CONFIGURACIÓN BASE --- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* 1. Aseguramos que la base del sitio ocupe toda la pantalla */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* 2. El contenedor principal (donde está tu catálogo) debe 'crecer' */
/* Envuelve todo tu contenido (hero, carrusel, catálogo) en una etiqueta <main> si no la tienes */
main {
    flex: 1;
    /* Esto empuja al footer hacia el fondo automáticamente */
}

body {
    background: #f5f5f7;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.4;
    padding-bottom: 50px;
    /* Espacio al final */
    background-color: #0f172a;
    /* Color base oscuro */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* Mantiene el fondo quieto al hacer scroll */
    transition: background-image 0.8s ease-in-out;
    /* Cambio suave de imagen */

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* 100% de la altura de la ventana */



    background-image: url('img/fondoweb.jpg'); /* Ruta de tu imagen */
    background-size: cover;          /* Estira la imagen para cubrir todo el fondo */
    background-position: center;     /* Centra la imagen */
    background-attachment: fixed;    /* El fondo se queda quieto al hacer scroll */
    background-repeat: no-repeat;    /* Evita que la imagen se repita en mosaico */
}

/* Capa oscura opcional para que el texto resalte más sobre la imagen */
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* 0.3 hará que la imagen se vea mucho más clara */
    background: rgba(15, 23, 42, 0.0);
    /* Oscurece la imagen un 70% */
    z-index: -1;
}

/* --- CONTENEDORES --- */
.wrapper {
    width: 78%;
    /* Ocupa el 80% en PC */
    max-width: 1000px;
    margin: 0 auto;
    /* CENTRADO */
    display: flex;
    flex-direction: column;
    gap: 25px;
    /* Espacio entre elementos */
}

/* Para los formularios y tickets que deben ser angostos */
.container {
    max-width: 480px;
    margin: 40px auto;
    padding: 20px;
}

.hidden {
    display: none !important;
}


/* --- BANNER --- */
/* Esto evita que el banner se pegue al borde superior del navegador */

.main-banner {
    margin-top: 80px;
    /* Dale espacio para que no choque con la barra de estado */
    /*position: relative;
*/
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    line-height: 1.5;
    /*salto de linea en grillas de historial*/
    box-shadow: 0 5px 20px rgba(0, 242, 255, 0.2);
}


.banner-img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

/* --- TÍTULO SECCIÓN --- */
/* --- TÍTULOS Y CENTRADO --- */
/*titulo de juego paquetes*/
.titulo-v2 {
    text-align: center;
    color: #00f2ff;
    font-size: 1.3rem;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    /*espacio entre letras*/
}

.titulo-seccion h2 {
    color: #ffffff;
    font-size: 1.1rem;
    letter-spacing: 2px;
    /*margin-bottom: 0px; enpacio entre el titulo catalogo y la linea decorativa*/
    text-align: center;
}

/*
.linea-decorativa {
    width: 150px;
    height: 1px;
    background: #007bff;
    margin: 0 auto;
    box-shadow: 0 0 10px #00f2ff;
}
*/


/* --- GRILLA DE JUEGOS (CORREGIDA) --- */
.grid-juegos {
    display: grid;
    /* Esto hace que los juegos se acomoden solos */
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    gap: 20px;
    width: 100%;
}

/* IMPORTANTE: Este nombre debe coincidir con el que genera tu script.js */
.juego-card,
.card-juego {
    background: #151c2c;
    border: 1px solid rgba(114, 156, 235, 0.2);
    padding: 1px;
    /*marco vacio al rededor de las imagenes card*/
    border-radius: 12px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}

.juego-card:hover,
.card-juego:hover {
    transform: translateY(-5px);
    border-color: #007bff;
    box-shadow: 0 0 15px rgba(0, 242, 255, 0.2);
}

.juego-card img,
.card-juego img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
    /*espacio en donde esta el nombre del los juegos en cards*/
    display: block;
}

.juego-card h3,
.card-juego h3 {
    font-size: 0.85rem;
    color: #fff;
    text-transform: uppercase;
}

/* --- FORMULARIO Y PASOS --- */
/* --- LA TARJETA (CARD V2) --- */
/*grid de precios*/

.card-v2 {
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: #0f172a;
    border-radius: 20px;
    padding-top: 40px !important;
    /* Deja espacio fijo arriba para la X */
    width: 100%;
    max-width: 500px;
    /* Tamaño perfecto de celular en PC */
    position: relative;
    /* Para que la X se ubique respecto a la card */
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    margin: auto;
    /* Centrado absoluto */

    max-height: 90vh;
    /* Para que no se salga de la pantalla */
    display: flex;
    flex-direction: column;
    padding-bottom: 0 !important;
    /* Quitamos padding abajo para la barra */
    overflow: hidden;
    /* Evita que el modal entero haga scroll */
}


/* Área que sí se desliza */
.contenido-scroll-formulario {
    overflow-y: auto;
    padding: 20px;
    flex: 1;
    /* Ocupa el espacio disponible */

    padding-right: 20px;
    /* Separa el contenido de la barra de scroll */
    margin-top: 0px;
    /*espacio ente el borde superior del modal a el titulo del juego*/
}


/* Hacer el scroll más delgado y estético */
.contenido-scroll-formulario::-webkit-scrollbar {
    width: 6px;
    /* Ancho de la barra */
}

.contenido-scroll-formulario::-webkit-scrollbar-track {
    background: transparent;
    /* Fondo del carril */
}

.contenido-scroll-formulario::-webkit-scrollbar-thumb {
    background: #334155;
    /* Color de la barra (gris oscuro) */
    border-radius: 10px;
    /* Bordes redondeados */
}

.contenido-scroll-formulario::-webkit-scrollbar-thumb:hover {
    background: #2c4566;
    /* Cambia de color al pasar el mouse */
}


/* La Barra Fija Inferior */
.footer-formulario-fijo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background: #1a2235;
    /* Un tono sólido para que no se vea lo de atrás */
    border-top: 1px solid #007bff;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.3);
}

.resumen-compra {
    display: flex;
    flex-direction: column;
    text-align: left;
}

#resumen-paquete {
    font-size: 15px;
    color: #b2bfcf;
    font-weight: 500;
}

#resumen-precio {
    font-size: 17px;
    color: #f3ae1a;
    font-weight: 500;
}

/* El botón estático */
.btn-accion-fijo {
    width: auto !important;
    padding: 12px 25px !important;
    margin: 0 !important;
    font-size: 14px !important;
}


.btn-cerrar-v2 {
    position: absolute;
    right: 15px;
    top: 15px;
    background: none;
    border: none;
    color: white;
    font-size: 28px;
    cursor: pointer;
    /*nuevo codigo agregado*/
    z-index: 10;
    /* Siempre por encima del scroll */
    background: rgba(15, 23, 42, 0.8);
    /* Fondo semi-transparente para que no se pierda */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.seccion-paso {
    position: relative;
    padding-left: 35px;
    margin-bottom: 25px;
}

.paso-numero {
    /*circulos de los numeros - formularios*/
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    background: #00f2ff;
    color: #000;
    border-radius: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

/* 5. Grilla de paquetes dentro del formulario */
.grid-paquetes {
    display: grid;
    /* 2 columnas para los precios */
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    margin-top: 8px;
}

/*fondo recuadro de precios*/
.pack-box {
    transition: all 0.3s ease;
    /* Esto hará que el brillo aparezca suavemente */
    background: #0a0e1a;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 12px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}

/* Efecto hover (mientras no esté activo) */
.pack-box:hover {
    border-color: #007bff;
    background-color: #0a0e1a;
    transform: translateY(-2px);
}

/* Esta es la clase que el JS activa al hacer clic */
.pack-box.selected {
    /*de momento no hace nada porque esta usuando el efecto cristal*/
    border-color: #007bff;
    background: rgba(0, 242, 255, 0.15);
    box-shadow: 0 0 15px rgba(0, 242, 255, 0.2);
}

/* --- MÉTODOS DE PAGO (QR Y TIGO) --- */
.pago-selector {
    display: flex;
    gap: 8px;
    margin-top: 10px;
}

.btn-pago {
    /*boton QR o Tigo money, efecto contrala el de cristal*/
    flex: 1;
    align-items: center;
    gap: 12px;
    padding: 12px 24px;
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    cursor: pointer;
    background-color: #0a0e1a;
    color: #ffffff;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    transition: all 0.3s ease;
    outline: none;
}

/* Efecto hover (mientras no esté activo) */
.btn-pago:hover {
    border-color: #007bff;
    background-color: #0a0e1a;
    transform: translateY(-2px);
}

.btn-pago.selected {
    border-color: #007bff;
    /*background-color: ##0a0e1a;*/
    box-shadow: 0 0 10px rgba(0, 86, 179, 0.2);
    transform: translateY(0);
    /* Se queda pegado al suelo al seleccionarse */
}

/* --- FILAS DE INFORMACIÓN EN EL TICKET detalle de compra--- */
/*pago-row esta en el script*/
.pago-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.4);
    padding: 12px;
    border-radius: 10px;
    margin-top: 10px;
    border: 1px solid rgba(0, 242, 255, 0.1);
}


/* 6. Inputs y Selects */
/*marco contenedor boton seleccionar archivo y datos jugador, id y nick*/
input,
select {
    width: 100%;
    background: #0a0e1a;
    border: 1px solid #334155;
    color: white;
    padding: 12px;
    border-radius: 10px;
    margin-top: 5px;
}


/* --- BOTONES DE FORMULARIO--- */
/* --- BOTONES DE ACCIÓN (ESTILO REDONDEADO) --- */
/*boton comprar ahora*/
.btn-v2 {
    width: 100%;
    padding: 15px;
    border-radius: 50px;
    /* Botones más ovalados/modernos */
    border: none;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 20px;
    transition: 0.3s;
}

/*boton ????*/
.btn-accion {
    background: #00f2ff;
    color: #000;
    margin-top: 15px;
}


/* --- BOTÓN WHATSAPP (TAMAÑO CONTROLADO) --- */
.btn-whatsapp {
    background: #05976a;
    color: #000;
    max-width: 300px;
    margin: 20px auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 50px;
}

/* ICONO DE WHATSAPP (Reparar tamaño) */
.wa-icon {
    width: 24px !important;
    /* Forzamos tamaño pequeño */
    height: 24px !important;
    fill: white;
    flex-shrink: 0;
}

/* RELOJ ANIMADO */
.hourglass {
    font-size: 50px;
    display: block;
    margin: 0 auto 15px;
    animation: spin 2s infinite linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/*fondos pequeños y QR de datos del ticket*/
.detalle-box-v2 {
    background: rgba(0, 0, 0, 0.3);
    padding: 15px;
    border-radius: 12px;
    margin: 15px 0;
    border: 1px solid rgba(255, 255, 255, 0.05);
}

/* --- BOTONES MINI (COPIAR Y DESCARGAR) --- */

/* Tu estilo original */
.btn-copiar-mini {
    background: #00f2ff;
    color: #000;
    border: none;
    padding: 8px 15px;
    border-radius: 15px;
    font-size: 0.75rem;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

/* Estilo para el mensaje de éxito */
.aviso-temporal {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 0.8rem;
    z-index: 1000;
    transition: opacity 0.5s ease;
}

.aviso-temporal.ocultar {
    opacity: 0;
}

/* --- CONTENEDORES DE VISTA (FORMULARIO, TICKET, MODAL FINAL) --- */

#vista-formulario,
#vista-ticket,
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    /* 1. Bajamos la opacidad del fondo (de 0.95 a 0.4) para ver la imagen de atrás 
    background: rgba(10, 14, 26, 0.4);*/

    /* 2. ACTIVAMOS EL CRISTAL: Todo lo que esté detrás se verá borroso 
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);*/

    align-items: center;
    justify-content: center;
    z-index: 999;
    padding: 20px;
    overflow-y: auto;

    /* 3. Animación suave al aparecer */
    transition: all 0.4s ease;
}


/* --- FOOTER --- 
.footer-v2 {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 150px;
    font-size: 12px;
    padding: 10px;
}

.footer-v2 a {
    color: #c7d1df;
    text-decoration: none;
}
*/

/*BOTON WHATSAPP FLOTANTE */
.whatsapp-float {
    position: fixed;
    width: 55px;
    height: 55px;
    bottom: 25px;
    /*distancia de la base hacia arriba*/
    right: 25px;
    /*distancia de la derecha hacia la izquierda*/
    background-color: #25d366;
    color: #FFF;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    box-shadow: -2px 2px 3px #333;
    z-index: 999999 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
}

.whatsapp-float:hover {
    transform: scale(1.1);
    /* Efecto de agrandado al pasar el mouse */
    background-color: #20ba5a;
}

.whatsapp-float img {
    width: 30px;
    /*tamaño logo whatsapp*/
    height: 30px;
}


/* Estilo del botón de 3 líneas */
.menu-btn-new {
    background: none;
    border: none;
    color: var(--accent);
    font-size: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    transition: transform 0.2s;
}

.menu-btn-new :hover {
    transform: scale(1.1);
    color: #f3ae1a;
}

.menu-btn-new span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #faf7f7;
    /*color de las 3 lineas boton menu deslegable*/
    border-radius: 2px;
}


/* Estilo para las 3 líneas del menú 
.menu-btn-new {
    width: 25px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.menu-btn-new span {
    display: block;
    width: 100%;
    height: 3px;
    background: white;
    border-radius: 2px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
*/



/* Estilo del Menú Lateral */
.side-menu {
    position: fixed;
    top: 0;
    left: -300px;
    /* Escondido a la izquierda */
    width: 300px;
    height: 100%;
    background-color: #0f172a;
    /*fondo del menu lateral*/
    color: white;
    /*transition: 0.3s;*/
    /* Velocidad del despliegue */
    z-index: 2000;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 10px 0 30px rgba(0, 0, 0, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.05);
}

.menu-content h3 {
    /*titulo nova game */
    text-align: center;
    cursor: pointer;
}

.side-menu.active {
    left: 0;
    /* Se muestra */
}


.menu-content {
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

/* Estilo de los textos enlaces del menú */
.menu-content a {
    display: block;
    padding: 15px 25px;
    color: white;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    border-bottom: 1px solid #333;
    border-color: #333;
}

.menu-content a:hover {
    background-color: #333;
    border-color: #f3ae1a;
}

.icon {
    margin-right: 10px;
}


/* Esto hace que el cambio de color sea fluido */
#titulo-formulario,
.pack-box,
#status-carga,
#img-preview {
    transition: all 0.4s ease-in-out;
}

/* Efecto cuando seleccionas un paquete */
.pack-box.selected {
    background: rgba(255, 255, 255, 0.1);
    transform: scale(1.05);
}


/* Fondo oscuro claro del resto de la vista*/
#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

#overlay.active {
    display: block;
}

/* --- RESPONSIVE (MÓVIL) --- */
@media (max-width: 768px) {
    .wrapper {
        width: 95%;
    }

    .grid-juegos {
        /* Tus 3 columnas en celular */
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }

    .juego-card h3,
    .card-juego h3 {
        font-size: 0.65rem;
    }
}


/*BANNER CARRUCEL*/

.carousel {
  position: relative;
  width: 100%; /* Ajusta según tu necesidad */
  max-width: 1000px;
  height: 400px;
  margin: auto;
  overflow: hidden;

  touch-action: pan-y; /* Permite scroll vertical pero bloquea el horizontal nativo en el carrusel */
  user-select: none;   /* Evita que se seleccione el contenido al deslizar */
}

.carousel__track {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.slide {
    position: relative;
  min-width: 100%;
  height: 100%;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  pointer-events: none; /* Evita que el navegador intente "arrastrar" la imagen */
}

/* Botones */
.btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  color: white;
  border: none;
  padding: 15px;
  cursor: pointer;
  z-index: 10;
}

.prev { left: 10px; }
.next { right: 10px; }


/* Puntos indicadores */
.carousel__dots {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.dot {
  width: 10px;
  height: 10px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s;
}

.dot.active {
  background: white;
  transform: scale(1.2);
}


/* Ajustes para Móvil */
@media (max-width: 600px) {
  .btn {
    padding: 10px; /* Botones más pequeños */
    font-size: 14px;
  }
  .carousel {
   height: 200px;
  }
  .dot {
    width: 8px; /* Puntos más pequeños */
    height: 8px;
  }
}


/* Superposición oscura para que el texto se lea
.carrusel-slide::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(10, 14, 26, 0.9) 0%, rgba(10, 14, 26, 0.2) 60%);
}
*/

/* Información del Banner (Texto y Botón) */

.carrusel-info {
position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%); /* Centrado perfecto */
  text-align: left;
  color: white;
  width: 80%;
  max-width: 70%;
  z-index: 5;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.7); /* Para que el texto se lea bien */
}

.carrusel-info h2 {
    font-size: 1.5rem;
    margin: 0;
    text-transform: uppercase;
    font-weight: 800;  
    -webkit-text-stroke: 0.4px black; /* Grosor y color del borde */  
}

.carrusel-info p {
    font-size: 1.1rem;
    margin: 5px 0 15px;
    color: #ffffff;
}

/* Toque Neón */
.resaltado-neon {
    color: #00aeff;
    /*text-shadow: 0 0 10px #00f2ff;*/
    -webkit-text-stroke: 0.4px black; /* Grosor y color del borde */
}

/* Botón decorativo dentro del banner */
.btn-oferta {
    display: inline-block;
    /*background: transparent;*/
    background-color: #9cd8f0;
    border: 1px solid #176b86;
    color: #176b86;
    padding: 8px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: bold;
    transition: all 0.3s ease;
}

.btn-oferta:hover {
    background: #00aeff;
    color: #0a0e1a;
    border: 1px solid #0a0e1a;
    /*box-shadow: 0 0 15px #00f2ff;*/
}

/* Ajuste móvil */
@media (max-width: 600px) {
  .carrusel-info h2 { font-size: 1.2rem; }
  .carrusel-info p { font-size: 0.9rem; }
  .btn-oferta { padding: 7px 19px; font-size: 0.7rem; }
}

/*HISTORIAL*/
/*
.grid-historial {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 30px;
}
*/
/*
.card-historial {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 15px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
*/

/*boton pendiente*/
.estado-badge {
    padding: 5px 12px;
    border-radius: 20px;
    font-size: 0.7rem;
    font-weight: bold;
    text-transform: uppercase;
}

/* Colores para los estados */
.pendiente {
    color: #ffaa00;
    font-size: small;
    background: none !important;
    border: none !important;
    padding: 0 !important;
    border-radius: 0 !important;
    box-shadow: none !important;
}

.entregado {
    /*background: rgba(0, 255, 150, 0.2);
    border: 1px solid #00ff96;*/
    color: #09b66e;
    font-size: small;
}


/*
.modal-flotante {
    position: fixed;
    top: 70px;
    /* Debajo del header 
    right: 20px;
    width: 320px;
    max-height: 400px;
    background: rgba(20, 20, 30, 0.95);
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    z-index: 9999;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    overflow-y: auto;
}
*/
.modal-flotante {
    position: fixed;
    top: 70px;
    /* Justo debajo de la barra negra que creamos arriba */
    right: 20px;
    width: 90%;
    /* En móviles casi todo el ancho */
    max-width: 350px;
    background: #0f172a;
    /* Un azul muy oscuro sólido */
    border: 1px solid #b1b3b3;
    /* Borde neón para que se note */
    border-radius: 15px;
    z-index: 9999;
    /* El número más alto para que esté por encima de TODO */
    box-shadow: 0 0 20px rgba(0, 242, 255, 0.3);
    padding: 10px;
}


.close-btn {
    background: none;
    border: none;
    color: var(--text-dim);
    font-size: 30px;
    cursor: pointer;
}

.nav-links {
    list-style: none;
    padding: 20px 0;
}

.nav-links li a {
    display: flex;
    align-items: center;
    padding: 15px 25px;
    color: var(--text-main);
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
}

.nav-links li a i {
    margin-right: 15px;
    width: 20px;
    color: #f3ae1a;
    /*color: var(--accent);*/
}

.nav-links li a:hover {
    background: rgba(255, 255, 255, 0.03);
    color: #f3ae1a;
    /*color: var(--accent);*/
}

.menu-divider {
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    margin: 10px 25px;
}

/*HISTORIAL*/
.ticket-historial {
    padding: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.fila-superior,
.fila-media,
.fila-inferior {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
}

.nick-info {
    color: #aaa;
    font-size: 0.9rem;
}

.juego-nombre {
    color: #1dd2db;
    font-weight: bold;
    font-size: 0.8rem;
}

.pedido-id {
    color: #aaa;
    font-size: 0.8rem;
}

.paquete-info {
    font-size: 0.85rem;
    color: #fff;
}

.precio-info {
    color: #f8cb39da;
    font-weight: bold;
    font-size: 0.9rem;
}

.fecha-info {
    font-size: 0.8rem;
    color: #777;
}


.id-cliente-text {
    color: rgba(255, 255, 255, 0.6);
    font-size: 0.7rem;
    display: block;
    margin-top: 2px;
}

.info-cliente {
    display: flex;
    flex-direction: column;
}





/* Ajuste de la barra de controles para que no se pierda */
.header-controls {
    position: fixed;
    /* Cambiado de absolute a fixed para que siempre esté visible */
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background: rgba(10, 10, 15, 0.8);
    /* Fondo semi-transparente para que se vea el menú */
    backdrop-filter: blur(10px);
    z-index: 1000;
}


/* Estilo para el encabezado del historial */
.header-modal {
    background: rgba(255, 255, 255, 0.05);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

/*titulo historial*/
.header-modal h4 {
    margin: 0;
    color: #fafcfc;
    font-size: 0.9rem;
}

/*la x de historial*/
.header-modal button {
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}



/* Botón de historial el icono papel*/
.btn-historial-flotante {
    position: relative;
    /* Para que respete el z-index */
    z-index: 1001;
    /* Un nivel más arriba que la barra negra */
    font-size: 1.6rem;
    color: #ffffff;
    /* Color neón para que lo veas rápido */
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-historial-flotante:hover {
    transform: scale(1.1);
    color: #f3ae1a;
}

/* FOOTER */
footer {
    background: rgba(15, 15, 10, 0.8);
    color: white;
    text-align: center;
    padding: 20px;
    /*margin-top: 400px;*/
}

.footer-links a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

/*nuevo css para el footer*/
.main-footer {
    background: linear-gradient(to bottom, #111827, #030712);
    /* Degradado oscuro */
    border-top: 1px solid #1e293b;
    padding: 3rem 1rem;
    /*40px 20px*/
    margin-top: 200px;
    color: #94a3b8;
    text-align: center;
    width: 100%;
}

.status-dot {
    height: 10px;
    width: 10px;
    background-color: #10b981;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
    /*box-shadow: 0 0 8px #10b981;*/
}

.footer-copyright {
    margin-top: 20px;
    font-size: 12px;
    opacity: 0.6;
}

.footer-logo {
    filter: grayscale(1) brightness(0.8);
    /* Lo hace ver más sobrio */
    margin-bottom: 1.5rem;
    transition: 0.3s;
}

.footer-logo:hover {
    filter: grayscale(0) brightness(1);
}




/* Cambiamos .ticket-cuerpo por #resumen-ticket */
#resumen-ticket {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px dashed #334155;
    color: #b1b4b4;
    /* Asegura que el texto sea legible */
}

/* Las líneas internas sí pueden ser clases */
.ticket-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    font-size: 14px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    /* Una línea sutil divisoria */
    padding-bottom: 4px;
}

.ticket-item code {
    background: #0f172a;
    color: #ffffff;
    padding: 2px 6px;
    border-radius: 4px;
    font-family: monospace;
}

/* Asegura que el footer del modal use Flexbox para centrar */
.footer-formulario-fijo {
    display: flex;
    justify-content: center;
    /* Centra horizontalmente */
    align-items: center;
    padding: 15px 20px;
    background: #1a2235;
    border-top: 2px solid #334155;
    width: 100%;
    box-sizing: border-box;
    /* Evita que el padding ensanche el modal */
}

/* MODAL 1: Paquete a la izquierda, Botón a la derecha */
.footer-separado {
    justify-content: space-between;
    /* Este es el secreto */
}

/* MODAL 2: Todo al centro */
.footer-centrado {
    justify-content: center;
}

/* Fuerza al botón a no pegarse a la izquierda */
.btn-whatsapp.btn-accion-fijo {
    margin: 0 auto !important;
    /* Margen automático a los lados */
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    /* Ancho mínimo para que se vea importante */

    width: auto !important;
    min-width: 140px;
}


/* Contenedor del Check */
.check-container {
    width: 80px;
    height: 80px;
    position: relative;
}

.check-svg {
    width: 80px;
    height: 80px;
    display: block;
}

.check-circle {
    stroke: #10b981;
    stroke-width: 2;
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-linecap: round;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.check-mark {
    transform-origin: 50% 50%;
    stroke: #10b981;
    stroke-width: 5;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    stroke-linecap: round;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}

/* Efecto de pulso suave al terminar */
.check-container {
    animation: pulse-green 2s infinite 1.2s;
    border-radius: 50%;
}

@keyframes pulse-green {
    0% {
        box-shadow: 0 0 0 0 rgba(16, 185, 129, 0.4);
    }

    70% {
        box-shadow: 0 0 0 15px rgba(16, 185, 129, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(16, 185, 129, 0);
    }
}

/*COMO RECARGAR*/

/* Contenedor principal de la sección */
.como-recargar {
    padding: 40px 20px;
    text-align: center;
    /* Centra el texto del h2 y p */
    font-family: 'Inter', 'Segoe UI', sans-serif;
    font-size: 0.8rem;
}

/* Títulos y párrafos centrados dentro de la sección */
.como-recargar h2 {
    margin-bottom: 10px;
    font-size: 2em;
}

.como-recargar>p {
    margin-bottom: 40px;
    color: #666;
    font-size: 1.2em;
}

/* Grid de 3 columnas para los pasos */
.pasos {
    display: grid;
    /* 4 columnas iguales */
    /*grid-template-columns: repeat(4, 1fr);*/
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    gap: 45px;
    /* Espacio entre columnas */
    max-width: 1200px;
    /* Ancho máximo para pantallas grandes */
    margin: 0 auto;
    /* Centra el contenedor grid */
    justify-items: center;
}

/* Estilo para cada paso individual */
.pasos>div {
    background-color: #0a0f1d;
    padding: 15px;
    border-radius: 8px;
    border: 0px solid #eee;
    text-align: center;
    width: 240px;
}

/* Centrar el icono SVG */
.pasos>div>div {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    color:#f3ae1a
}

.pasos h3 {
    margin-top: 0px;
    margin-bottom: 10px;
}

/* Responsividad: A 1 columna en móviles */
@media (max-width: 768px) {
    .pasos {
        grid-template-columns: 1fr;
    }
}